!!!
%html
  %head
    %title 予約一覧 | 予約王
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - flash.each do |message_type, message|
      = content_tag(:div, message, class: "text-center alert alert-#{message_type}")
    .container.wrapper
      = yield
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
